In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.naukri.com/")

In [3]:
select1=driver.find_element_by_id("qsb-keyword-sugg")
select1.clear()
select1.send_keys("Data Analyst")
time.sleep(4)
select2=driver.find_element_by_id("qsb-location-sugg")
select2.clear()
select2.send_keys("Bangalore")
time.sleep(4)
select3=driver.find_element_by_xpath("//button[@class='btn']")
time.sleep(4)
select3.click()

In [4]:
Name=[]
Company=[]
Exp=[]
Location=[]
name=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in name:
    Name.append(i.text)
for i in company:
    Company.append(i.text)
for i in exp:
    Exp.append(i.text)
for i in location:
    Location.append(i.text)

In [5]:
Jobs=pd.DataFrame({
    "Job":Name[:10],
    "Job_Location":Location[:10],
    "Company_Name":Company[:10],
    "Experience":Exp[:10]
})
Jobs

,Job,Job_Location,Company_Name,Experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Hiring For Data Analyst/ MIS Reporting Analyst...,Bangalore/Bengaluru,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs
2,Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited,6-9 Yrs
3,Assistant Vice President - MIS & Reporting ( B...,"Mumbai, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs
4,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
5,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
6,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-9 Yrs
7,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-8 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
9,Data Analyst,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D...",SA Tech Software (I) Pvt. Ltd.,1-3 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [19]:
naukri=webdriver.Chrome("chromedriver.exe")
naukri.get("https://www.naukri.com/")

In [20]:
select1=naukri.find_element_by_id("qsb-keyword-sugg")
select1.clear()
select1.send_keys("Data Scientist")
time.sleep(4)
select2=naukri.find_element_by_id("qsb-location-sugg")
select2.clear()
select2.send_keys("Banglore")
time.sleep(4)
select3=naukri.find_element_by_class_name("btn")
select3.click()

In [22]:
name=naukri.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
link=[]
for i in name:
    link.append(i.get_attribute("href"))

In [23]:
job_description=[]
company=[]
job=[]
location=[]
for i in link[:10]:
    naukri.get(i)
    time.sleep(3)
    try:
        name=naukri.find_element_by_xpath("//h1[@class='jd-header-title']")
        job.append(name.text)
    except:
        name=naukri.find_element_by_xpath("//h1[@class='av-special-heading-tag ']")
        job.append(name.text)
    try:
        loc=naukri.find_element_by_xpath("//span[@class='location ']")
        location.append(loc.text)
    except:
        loc=naukri.find_element_by_xpath("//span[@class='slide-meta-loc pull-left']")
        location.append(loc.text)
    try:
        com=naukri.find_element_by_xpath("//a[@class='pad-rt-8']")
        company.append(com.text)
    except:
        com=naukri.find_element_by_xpath("//div[@class='f14 lh18 alignJ']")
        company.append(com.text)
    try:
        des=naukri.find_element_by_xpath("//section[@class='job-desc']")
        job_description.append(des.text)
    except NoSuchElementException:
        des=naukri.find_element_by_xpath("//section[@class='getJobDescription JD av_textblock_section']")
        job_description.append(des.text)
job_description

["Job description\nJob Role : Data Scientist/Data Analyst /Business Analyst\n\nLocation : Chennai/Bangalore/Hyderabad/Pune/Mumbai/Delhi\n\nGreetings from CAIA - Center for Artificial Intelligence & Advanced Analytics\n43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization and Cloud Computing.\n\nWhile 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning and AI in Tier 1 and Tier 2 organization's working closely with us.\n\nTo help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to up skill and get recruited into an organization appreciating your skilling journey.\nApplications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIf you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.\n\nCall to schedule interview Monday -Saturday from 10:00 am to 7Pm\n\nManigandan -+91 7299917200\n\nEmail : manigandan@centerforaia.com\n\nWhat is needed from you?\n\nFreshers who wish to start their career in Analytics and AI and professionals who wish to\nupskill or change their domain to analytics and emerging technologies are free to apply.\nAn Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\nSkills relating to Mathematics/Statistics.\nNatural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization\nGood verbal and written communication skills\nAbility to understand domains in businesses across various sectors\n\n\nSelection procedure includes\n\nAptitude Test & Communication Exam - Online / Offline\nSQL/Python test - Online / Offline\n\nCandidates who clears the above will have one-one discussion with our Career Guidance Manager for further evaluation and processing of your Resume.\n\n\nAll the Shortlisted candidates will be eligible to continue the corporate training with CAIA\nWhat you can expect from us?\n\nYou will get trained on the following modules for a period of 12-14 weeks:\n\nSQL & PLSQL\nData Wrangling using Python\nData Visualization Using Power-BI\nStatistics for Machine Learning\nArtificial Intelligence, Data Interpretation\nSupervised & Unsupervised Learning,\nNLP & Deep Learning\nCloud Data Lake\nBusiness intelligence & Data Visualization\nSimulation Projects\nExpected Outcome?\n\nAt the end of the Training you are expected to be well versed with the following:\n\nAnalysis of large and complex data sets from multiple sources\nDevelopment and evaluation of data analytics models, algorithms and solutions\nUnderstanding/implementation of ML algorithms, performance tuning and reporting\nImplementation of algorithms to mine targeted data and the ability to convert data in to a business story\nTranslation of business requirements into technical requirements; Data extraction, preparation and transformation\nIdentification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization\nRequirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nFinding analytical solutions to abstract business issues.\nApply objective analysis of facts before coming to a conclusion\n\nAbout CAIA - Inflexion Analytix Private Limited\n\nCenter for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay.\nDigital leaders - 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advance Analytics solutions for Fortune 500 companies.\nOur Website : http://www.centerforaia.com/\n\nhttps://inflexion-analytix-private-limited.business.site/?m=true\n\nCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:\n\n1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics\n2. Advanced Training programs for readying the future ready workforce\n3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.\nRoleData Analyst\nIndustry TypeBPO / Call Centre\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nBusiness IntelligenceArtificial IntelligenceBig DataITMachine LearningStatisticsDeep LearningAnalyticsBusiness AnalysisSQLData ScienceNLPCloud ComputingData VisualizationSoftwareData WarehousingPython",
 'Job description\nWe wont say we can predict the future, but our team of Analysts get pretty close, they turn millions of data points into useful information & insights that help our clients to make better decisions on their marketing mix and achieve superior results. Be part of the future and join in on one of the major transformations in the market research industry with the integration of big data and classic marketing mix analysis.\n\nResponsibilities:\nDeliver as a part of our consultant team in driving high quality results on custom project work\nEnsure effective and timely delivery of project work\nWork towards understanding statistical models and deliver business insights and findings\nEnsure compliance to Marketing Mix Modeling modeling practices and company quality standards\nMaximize the efficient and effective use of resources by utilizing appropriate processes and tools\nTo build and maintain effective contacts with other departments to ensure the efficient and effective use of resources\nLiaise with appropriate Marketing Mix Modeling and Nielsen departments to ensure hardware and software requirements are fulfilled\nWork with co/ third party modellers to deliver business insights and findings\n\nQualifications and Skills\n2-5 years of relevant experience\nMasters degree in Economics, Mathematics, Statistics, Engineering\nIn-depth understanding of statistical modeling techniques and applications\nGood and working knowledge of any statistical languages like SAS, R, Pythons\nSolid proficiency of decision making and problem resolution skills\nPassion for results with a challenger mindset\n\nAbout the Team:\nGlobal Product, Technology & Operations supports Nielsen Medias growth strategy by enabling positive client and market solutions. Our Operations Team is in a unique position as the center of data collection, analysis and delivery. We deliver outcomes with the highest quality and integrity standards in an agile and transparent way while standing by our Nielsen values.\n\n\nRoleBusiness Analyst\nIndustry TypeAnalytics / KPO / Research\nFunctional AreaStrategy, Management Consulting, Corporate Planning\nEmployment TypeFull Time, Permanent\nRole CategoryCorporate Planning/Consulting/Strategy\nEducation\nPG :M.A in Economics, MS/M.Sc(Science) in Statistics, Maths, MBA/PGDM in Any Specialization\nKey Skills\nPredictive ModelingSASSegmentationK-MeansStatisticsOptimizationRandom ForestRMarketing Mix ModelingLinear RegressionStatistical ModelingBusiness InsightsMarket Research',
 'Job Description\nAs a Data Scientist in the IBM Garage team you will part of a cross-functional team that delivers a unique client co-creation experience to accelerate client transformation.\n\nYour Role and Responsibilities\nWho you are\nYou are a key contributor to a pre-sales Garage team ,partnering with client to understand business problems and propose solutions.\nYou demonstrate strong business acumen and ability to understand business problems, formulate hypotheses and test conclusions to influence solution design.\nWhat you will do\nContribute to co-creation of rapid proofs of concept and minimally viable solutions that demonstrate business value, leading to client investment in strategic solution .\nTranslate business problems into leading-edge analytics solutions using consulting skills ,industry expertise and technical knowledge\nDeliver meaningful insights and predict emerging trends to inform business solution that optimize client value\nApply Data Engineering techniques to gather ,prepare, cleanse and transform client data for analysis and AI automation ,including automating data pipelines\nRequired Technical and Professional Expertise\nExcellent understanding of machine learning and deep learning techniques and algorithms, such Deep CNNs, Optimizers, Feature Engineering, Transformers, etc.\nExperience handling large scale production datasets and understanding of related challenges and processes to address them\nExperience with common data science toolkits such as NumPy, scikit-learn, spaCy, Keras, PyTorch, etc. Excellence in at least one of these is highly desirable\nExperience with NoSQL databases, such as MongoDB, DnamoDB, Cloudant etc and understanding of basic data wrangling techniques\nGood to have academic training in a quantitative discipline and /or a specialized degree in data science or analytics .\nPossesses relevant industry and /or business domain knowledge such finance or healthcare .\nPreferred Technical and Professional Expertise\nDemonstrated experience in applying user centric approach to design and create compelling prototypes that lead to transformative change for the client\nKnowledge of a variety of modern application of data science, including machine learning ,optimization ,neural networks and /or artificial intelligence that can be applied to solve client problems\nDeep understanding of statistical machine learning models with Python or R to propose innovative solution\nExpertise in the use of cloud based infrastructure to manage the volume and veracity of complex data streams .',
 'Job Description\nRoles & Responsibilities & Key Skills:\n\nBig Data DS\n\nExperience with big data/advanced analytics concepts and algorithms (e.g., text mining, social listening, recommender systems, predictive modeling, etc.).\nRelevant programming background (e.g., Java/Python/R).\nStrong understanding of relevant tools/platforms (e.g., Hadoop eco system and database systems);\nRelevant domain knowledge is plus; (healthcare/transportation/hi-tech/insurance);\nExcellent oral and written communication skills.\nStrong attention to detail, with a research-focused mindset.\nExcellent critical thinking and problem solving skills.\nHigh motivation, good work ethic and maturity.\nMinimum 1-3 yrs of proven project experience.\n\nQualification: BS or MS Degree in Computer Science, Information Technology, or equivalent.\nBCA/ BE/ MCA / B.Tech (Computer science, IT)\n\nKey Competencies & Personal Skills:\nExcellent organization skills, attention to detail, and ability to multi-task.\nDemonstrated sense of responsibility and capability to deliver quickly.\nExcellent communication skills. Clearly articulating/ documenting technical/ functional specifications is a key requirement.\nAttitude to learn new tools.\nProactive problem-solver. Relationship builder and team player.\nFlexibility to work in multiple complex projects and changing priorities.\nExperience with Agile methodology\nExcellent interpersonal skill (articulation using verbal and non-verbal skills).\nFlexible to learn.\nAbility to express their design ideas and thoughts.\nAdaptability to continuously changing team requirements.\nDemonstrated ability to deliver working solutions on time.\nStrong analytical thinking and problem-solving skills\n\nKey Skills What we offer in this role:\nBest market exposure, internal visibility for growth.\nWork on robust, secure and architectural environment.\nOpportunity to work in a technical satisfying environment.\nFlawless blend of volume & niche to enrich your entire experience & add starts to your career.\nYoung fast-growing team.\n\nOther Mandatory Aspects:\nEarly/ immediate joiners are welcome.',
 'Job description\nResponsibilities and Key Result Areas\nDesign and develop project prototypes and solutions.\nParticipate in project estimation, planning and risk management activities\nIs responsible for delivering input in the planning process to the project leader\nEnsures that there is proper documentation for the developed solutions.\nEnsure compliance to the Quality Management System and regulatory requirements\nKey Technical Skills:\n4 - 7 yrs years of experience in data science\nDeveloped Proficient in algorithms on regression modelling (linear/logistic), supervised and unsupervised classification,\ntree-based techniques (Decision trees /Random forest), neural nets, bagging, Pattern Mining and boosting techniques, etc.\nProficient and hands on experience in developing models using concepts of Artificial Intelligence,\nMachine Learning and Deep Learning related technologies (such as Keras, TensorFlow, pyTorch, Azure ML, AWS ML, Scikit, Jupyter, MatLab etc.)\nExperience with containers like Docker is added advantage\nExperience in Sql\nWorking experience in agile/SAFe development methodologies\nSoft Skill set:\nFast learner. Ability to grasp key concepts quickly with minimal or no supervision\nGo-Getter Attitude. Ability to take ownership of team goals and deliver it with quality and within required timeline\nTeam Player attitude. Key characteristic of the individual who puts the team first before self.\nAbility to think out of box: Ability to come up with bright ideas and always looking at the next big thing in technology\nFlexible and willingness to stretch oneself when needed.\nRoleSoftware Developer\nIndustry TypeMedical Services / Hospital\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate in Any Specialization\nPG :Post Graduation Not Required\nKey Skills\nMiningdeep learningdata scienceArtificial IntelligenceMachine learningAgileHTMLRisk managementMATLABSQL',
 'Job Description\nThe Data Warehousing Practitioner actively participates on multi-functional project teams developing ETL and Visualization enabled solutions, owning and leading the work done. Recommends and implements analytics enabled solutions to improve business process, to generate insights, to support business goals and strategy development. They would also own and deliver complete projects of moderate scope\nAs a Senior Data Warehousing Practitioner, you recommend and implement ETL & Visualization solutions to improve business process, to generate insights, to support business goals and strategy development :\nYou will play a lead position with a strong technology and solution delivery acumen, who will be accountable for the successful design, development, and delivery of business intelligence solutions\nWill be responsible for driving the overall solution design and determining the architecture necessary for the BI team to develop and implement large complex projects\nWorks with business partners, development teams and senior designers to capture requirements, determine a solution that will integrate with existing/new BI assets, review prototypes and develop iterative revisions\nResponsible for leading the design of prototypes and determining final design to ensure client satisfaction with the solution\nConduct impact assessment with business in order and determine high level design and size of effort based on requirements\nTransforms datasets, quantitative and qualitative analysis into compelling visuals\nPartners and support developers through the development of complex routines to load a dimensional star schema (and supporting layers) and develops error handling processes. Similarly, supports the reporting team for the visualization build\nPerform an active, leading role in shaping and enhancing overall solution, including standard patterns and best practices\nIdentifies opportunities for new architectural initiatives; makes recommendations on the increasing scalability and robustness of DWH platforms and solutions\nDrive improvements and enhancements to the current data landscape and future strategy\nPartner with Leadership team to ensure the successful delivery of projects\nRemain current on new ETL/Visualization techniques and methodologies and communicate trends and opportunities to management and other developers as needed\nIdentify opportunities for uses of those technologies to enhance current or anticipated information systems and business goals needs\nIf you thrive in a dynamic, collaborative workplace, IBM provides an environment where you will be challenged and inspired every single day. And if you relish the freedom to bring creative, thoughtful solutions to the table, there s no limit to what you can accomplish here.\nRequired Technical and Professional Expertise\nMinimum 6-8 years of experience in modeling and business system design with experience in relational SQL and NoSQL databases, including Postgres and Cassandra.\nGood hands on experience on DataStage, Alteryx & SSIS with multiple cloud-based solutions like Red HAT, Azure, AWS and IBM Cloud for data storage, database and ETL implementations and Visualization creation\nExperience with STAR and SNOWFLAKE schema techniques with additional experience in ETL/Visualization space, leading development teams to deliver successful business intelligence solutions with complex data sources\nPreferred Technical and Professional Expertise\nAbility to take care of highly personal and confidential information\nExperience in understanding and executing business controls\nProven analytical and problem solving skills\nAmbitious individual who can work under their own direction towards agreed targets/goals.\nAbility to manage change and be open to it good time management and an ability to work under stress\nProven interpersonal skills while contributing to team effort by accomplishing related results as needed\nMaintain technical knowledge by attending educational workshops, reviewing publications',

In [24]:
jobs=pd.DataFrame({
    "Job":job,
    "company":company,
    "location":location,
    "job description":job_description
})
jobs

,Job,company,location,job description
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Job description\nJob Role : Data Scientist/Dat...
1,"Senior Data Scientist, Modeling",Nielsen,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Job description\nWe wont say we can predict th...
2,DATA SCIENTIST – IBM GARAGE,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Job Description\nAs a Data Scientist in the IB...
3,BIG DATA – DATA SCIENTIST,Xoriant Solutions Pvt Ltd,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ...",Job Description\nRoles & Responsibilities & Ke...
4,Specialist I - Data Scientist,Philips India Limited,Bangalore/Bengaluru,Job description\nResponsibilities and Key Resu...
5,DATA SCIENTIST,IBM India Pvt. Limited,Bangalore/Bengaluru,Job Description\nThe Data Warehousing Practiti...
6,Lead Data Scientist,Intel Technology India Pvt Ltd,Bangalore/Bengaluru,Job description\n\n\nWe are seeking an outstan...
7,SDE Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,Bangalore/Bengaluru,Job description\nBusiness & Team overview:\nFo...
8,Computational Design Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,Bangalore/Bengaluru,Job description\nBusiness & Team overview:\nFo...
9,Hiring For DATA Scientist - ON Contract Basis ...,GlobalEdx Learning and Technology Solution Pvt...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...","Job description\nDear Aspirant,\n\nGreetings f..."

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [25]:
naukri=webdriver.Chrome("chromedriver.exe")
naukri.get("https://www.naukri.com/")

In [26]:
select1=naukri.find_element_by_id("qsb-keyword-sugg")
select1.clear()
select1.send_keys("Data Scientist")
time.sleep(3)
select2=naukri.find_element_by_class_name("btn")
select2.click()

In [27]:
select3=naukri.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in select3:
    if i.text=="Delhi / NCR":
        i.click()
        time.sleep(2)
        break
select4=naukri.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in select4:
    if i.text=="3-6 Lakhs":
        i.click()
        time.sleep(3)
        break

In [28]:
Name=[]
Company=[]
Exp=[]
Location=[]
name=naukri.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company=naukri.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
exp=naukri.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
location=naukri.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in name:
    Name.append(i.text)
for i in company:
    Company.append(i.text)
for i in exp:
    Exp.append(i.text)
for i in location:
    Location.append(i.text)

In [29]:
Jobs=pd.DataFrame({
    "Job":Name[:10],
    "Job_Location":Location[:10],
    "Company_Name":Company[:10],
    "Experience":Exp[:10]
})
Jobs

,Job,Job_Location,Company_Name,Experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,5-8 Yrs
2,"Senior Data Scientist, Modeling","Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Nielsen,3-7 Yrs
3,Business Analyst- Data Scientist,"Noida, Gurgaon/Gurugram",Wipro,2-5 Yrs
4,Sr. Data Scientist,"Bangalore/Bengaluru, Delhi / NCR",VALIANCE ANALYTICS PRIVATE LIMITED,6-8 Yrs
5,Data Scientist - High growth VC backed Influen...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Ravgins International Pvt. Ltd.,3-5 Yrs
6,Senior data scientist,Gurgaon/Gurugram,Cardekho.com,3-6 Yrs
7,Senior Data Scientist - Mobile Application,Gurgaon/Gurugram,HOME CREDIT INDIA FINANCE PRIVATE LIMITED,4-9 Yrs
8,Excellent opportunity For Data Scientist,"Noida, Bangalore/Bengaluru",NEC CORPORATION INDIA PRIVATE LIMITED,3-7 Yrs
9,Data Scientist For an AI Product (Work from Home),"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Biz HR IT Solutions,3-5 Yrs

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [30]:
glass=webdriver.Chrome("chromedriver.exe")
glass.get("https://www.glassdoor.co.in/index.htm")

In [31]:
select1=glass.find_element_by_id("sc.keyword")
select1.clear()
select1.send_keys("Data Scientist")
time.sleep(4)
select2=glass.find_element_by_id("sc.location").clear()
select2=glass.find_element_by_id("sc.location")
select2.clear()
select2.send_keys("Noida")
time.sleep(4)
select3=glass.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
select3.click()

In [32]:
company=[]
days=[]
ratings=[]
name=glass.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']/span")
for i in name:
    company.append(i.text)
day=glass.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
for i in day:
    days.append(i.text)
rati=glass.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")
for i in rati:
    ratings.append(i.text)

In [33]:
glass_door_company=pd.DataFrame({
    "Company_name":company[:10],
    "No of days ago job posted":days[:10],
    "Rating of company":ratings[:10]
})
glass_door_company

                   Company_name No of days ago job posted Rating of company
0                       Bechtel                       15d               4.0
1              Mansha Solutions                        8d
2      Lantern Digital Services                        7d
3                      Ericsson                       13d               4.1
4          Gauge Data Solutions                       12d               3.1
5               Priority Vendor                       12d               3.7
6           Skyjobs hr services                        6d
7                      Techlive                       19d               5.0
8  Salasar New Age Technologies                       25d
9                      Sparkbpl                       13d

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [34]:
glass=webdriver.Chrome("chromedriver.exe")
glass.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [35]:
select1=glass.find_element_by_id("KeywordSearch")
select1.clear()
select1.send_keys("Data Scientist")
time.sleep(4)
select2=glass.find_element_by_id("LocationSearch")
select2.clear()
select2.send_keys("Noida")
time.sleep(4)
select3=glass.find_element_by_id("HeroSearchButton")
select3.click()

In [36]:
company=[]
average=[]
salary=[]
mini=[]
maxi=[]
com=glass.find_elements_by_xpath("//p[@class='m-0 ']")
for i in com:
    company.append(i.text)
avg=glass.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
for i in avg:
    average.append(i.text.replace("\n",""))
sal=glass.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
for i in sal:
    salary.append(i.text)
minie=glass.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']")
for i in minie:
    mini.append(i.text.split("\n")[0])
    maxi.append(i.text.split("\n")[1])

In [37]:
glass_com_salary=pd.DataFrame({
    "Company Name":company[:10],
    "No Of Salary":salary[:10],
    "Average Salary":average[:10],
    "Minimum Salary":mini[:10],
    "Maximum Salary":maxi[:10]
})
glass_com_salary

,Company Name,No Of Salary,Average Salary,Minimum Salary,Maximum Salary
0,Tata Consultancy Services,16 salaries,"₹ 6,11,228/yr",₹343K,"₹1,095K"
1,Accenture,14 salaries,"₹ 11,46,533/yr",₹577K,"₹2,213K"
2,IBM,14 salaries,"₹ 8,97,795/yr",₹586K,"₹2,730K"
3,Ericsson-Worldwide,14 salaries,"₹ 7,38,057/yr",₹355K,"₹1,613K"
4,Delhivery,14 salaries,"₹ 12,39,781/yr",₹450K,"₹11,622K"
5,UnitedHealth Group,11 salaries,"₹ 13,36,142/yr","₹1,069K","₹1,520K"
6,Valiance Solutions,9 salaries,"₹ 8,15,192/yr",₹502K,"₹1,465K"
7,ZS Associates,8 salaries,"₹ 11,35,221/yr",₹202K,"₹1,809K"
8,EXL Service,8 salaries,"₹ 11,44,243/yr",₹575K,"₹1,520K"
9,Optum Global Solutions,8 salaries,"₹ 14,13,288/yr","₹1,014K","₹2,149K"

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [38]:
flip=webdriver.Chrome("chromedriver.exe")
flip.get("https://www.flipkart.com/")

In [39]:
select1=flip.find_element_by_class_name('_3704LK')
select1.clear()
select1.send_keys("sunglasses")
time.sleep(3)
select2=flip.find_element_by_xpath("//button[@class='L0Z3Pu']")
select2.click()

In [40]:
brand=[]
price=[]
offer=[]
description=[]
for o in range(3):
    brand1=flip.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand1:
        brand.append(i.text)
    price1=flip.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price1:
        price.append(i.text)
    offer1=flip.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for i in offer1:
        offer.append(i.text)
    description1=flip.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    for i in description1:
        description.append(i.text)
    try:
        select3=flip.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
        flip.get(select3.get_attribute("href"))
    except:
        select4=flip.find_element_by_class_name("_1LKTO3")
        flip.get(select4.get_attribute("href"))

In [41]:
sun_glasses=pd.DataFrame({
    "Brand":brand[:100],
    "Product Description":description[:100],
    "Price":price[:100],
    "Descount":offer[:100]
})
sun_glasses

,Brand,Product Description,Price,Descount
0,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",₹169,87% off
1,ZARSHA,Gradient Oval Sunglasses (40),₹299,76% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹630,21% off
3,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
...,...,...,...,...
95,AISLIN,"UV Protection, Gradient Cat-eye Sunglasses (58)",₹480,68% off
96,Fastrack,UV Protection Round Sunglasses (52),"₹1,232",5% off
97,Silver Kartz,"UV Protection Wayfarer, Aviator Sunglasses (88)",₹265,77% off
98,NuVew,UV Protection Aviator Sunglasses (57),₹195,75% off
99,NuVew,UV Protection Cat-eye Sunglasses (60),₹403,72% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [42]:
flip=webdriver.Chrome("chromedriver.exe")
flip.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")

In [43]:
select1=flip.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
time.sleep(4)
select1.click()

In [44]:
summery=[]
rating=[]
review=[]
for i in range(10):
    summ=flip.find_elements_by_class_name("_2-N8zT")
    for i in summ:
        summery.append(i.text)
    rate=flip.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
    for i in rate:
        rating.append(i.text)
    rev=flip.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in rev:
        review.append(i.text.replace("\n"," "))
    try:
        select3=flip.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
        flip.get(select3.get_attribute("href"))
    except:
        select3=flip.find_element_by_xpath("//a[@class='_1LKTO3']")
        flip.get(select3.get_attribute("href"))

In [45]:
reviews=pd.DataFrame({
    "Rating":rating,
    "Review summery":summery,
    "Full Review":review
})
reviews

,Rating,Review summery,Full Review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget. I’m am v...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Terrific purchase,"Well , as we all know if its not an Iphone , i..."
96,5,Excellent,A perfect phone and a good battery super camer...
97,5,Fabulous!,Everything is perfect pictures come out so cle...
98,5,Wonderful,Nice value for money good and best price I pho...
99,5,Fabulous!,Just an awesome phone...upgraded from 6s to 11...

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [46]:
flip=webdriver.Chrome("chromedriver.exe")
flip.get("https://www.flipkart.com/")

In [47]:
select1=flip.find_element_by_class_name("_3704LK")
select1.clear()
select1.send_keys("sneakers")
time.sleep(4)
select2=flip.find_element_by_xpath("//button[@class='L0Z3Pu']")
select2.click()

In [51]:
brand=[]
description=[]
price=[]
offer=[]
for i in range(3):
    name=flip.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in name:
        brand.append(i.text)
    des=flip.find_elements_by_class_name("IRpwTa")
    for i in des:
        description.append(i.text)
    priz=flip.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in priz:
        price.append(i.text)
    off=flip.find_elements_by_xpath("//div[@class='_2B099V']")
    for i in off:
        offer.append(i.text)
    try:
        select3=flip.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
        flip.get(select3.get_attribute('href'))
    except:
        select3=flip.find_element_by_xpath("//a[@class='_1LKTO3']")
        flip.get(select3.get_attribute('href'))

In [52]:
sneakers=pd.DataFrame({
    "Brand":brand[:100],
    "Description":description[:100],
    "Price":price[:100],
    "%discount":offer[:100]
})
sneakers

,Brand,Description,Price,%discount
0,LEVI'S,Basic 2.0 Sneakers For Men,"₹1,499","LEVI'S\nBasic 2.0 Sneakers For Men\n₹1,499₹2,9..."
1,Rebelbe,Casual Sneaker Sneakers For Men,₹343,Rebelbe\nCasual Sneaker Sneakers For Men\n₹343...
2,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,Robbie jones\nCasual Sneakers Shoes For Men Sn...
3,Numenzo,Sneakers For Men,₹398,Numenzo\nSneakers For Men\n₹398₹99960% off
4,HOTSTYLE,Sneakers Sneakers For Men,₹283,HOTSTYLE\nSneakers Sneakers For Men\n₹283₹4994...
...,...,...,...,...
95,bacca bucci,Mens Ultraforce Mid-top Athletic-Inspired Retr...,₹949,bacca bucci\nMens Ultraforce Mid-top Athletic-...
96,Adiso,"Casual sneakers,outdoors,dancingshoes Sneakers...",₹399,"Adiso\nCasual sneakers,outdoors,dancingshoes S..."
97,bluemaker,casual for men (beige 06) Sneakers For Men,₹499,bluemaker\ncasual for men (beige 06) Sneakers ...
98,Birde,Combo Pack of 4 Casual Shoes Sneakers For Men,₹661,Birde\nCombo Pack of 4 Casual Shoes Sneakers F...
99,oxpeo,Colourblocked Trending Multicolor Ultralight c...,₹419,oxpeo\nColourblocked Trending Multicolor Ultra...

Q9.Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [2]:
myntra=webdriver.Chrome("chromedriver.exe")
myntra.get("https://www.myntra.com/shoes")
time.sleep(5)

In [3]:
select1=myntra.find_elements_by_xpath("//label[@class='common-customCheckbox vertical-filters-label']")
time.sleep(2)
for i in select1:
    if i.text.split("(")[0]=="Rs. 6589 to Rs. 13059":
        i.click()
        break
select2=myntra.find_elements_by_xpath("//label[@class='common-customCheckbox']")
time.sleep(2)
for i in select2:
    if i.text.split(" ")[0]=="Black":
        i.click()
        break

In [4]:
brand=[]
description=[]
price=[]
for o in range(2):
    name=myntra.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in name:
        brand.append(i.text)
    des=myntra.find_elements_by_xpath("//h4[@class='product-product']")
    for i in des:
        description.append(i.text)
    priz=myntra.find_elements_by_xpath("//div[@class='product-price']")
    for i in priz:
        price.append(i.text)
    select3=myntra.find_element_by_xpath("//li[@class='pagination-next']/a")
    myntra.get(select3.get_attribute("href"))

In [5]:
shoes=pd.DataFrame({
    "Brand":brand,
    "Description":description,
    "Price":price
})
shoes

,Brand,Description,Price
0,Nike,Men JOYRIDE Running Shoes,Rs. 11246Rs. 14995(25% OFF)
1,Nike,Women REACT ESCAPE Running,Rs. 6636Rs. 8295(20% OFF)
2,Nike,AIR ZOOM PEGASUS Running Shoes,Rs. 11495
3,PUMA Motorsport,Unisex Mercedes Running Shoes,Rs. 7999
4,Nike,Men JORDAN DELTA Basketball,Rs. 12495
...,...,...,...
95,Geox,Women Leather Boat Shoes,Rs. 8990
96,Geox,Women Solid Flatforms,Rs. 6749Rs. 8999(25% OFF)
97,Cole Haan,Women Sandals,Rs. 6749Rs. 14999(55% OFF)
98,Nike,Men REACT MILER 2 Running,Rs. 9770Rs. 11495(15% OFF)
99,Geox,Men Leather Formal Oxfords,Rs. 7867Rs. 10490(25% OFF)

Q10.Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”.
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [2]:
amazon=webdriver.Chrome("chromedriver.exe")
amazon.get("https://www.amazon.in/")

In [3]:
select1=amazon.find_element_by_id("twotabsearchtextbox")
select1.clear()
select1.send_keys("laptop")
time.sleep(4)
select2=amazon.find_element_by_id("nav-search-submit-button")
select2.click()

In [4]:
select3=amazon.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
time.sleep(2)
for i in select3:
    if i.text=="Intel Core i7":
        i.click()
        break
time.sleep(2)
select3=amazon.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
time.sleep(2)
for i in select3:
    if i.text=="Intel Core i9":
        i.click()
        break

In [5]:
url=[]
link=amazon.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a")
for i in link:
    url.append(i.get_attribute("href"))

In [6]:
names=[]
ratings=[]
price=[]
for o in url[:10]:
    amazon.get(o)
    try:
        name=amazon.find_element_by_xpath("//span[@class='a-size-large product-title-word-break']")
        names.append(name.text)
    except StaleElementReferenceException:
        names.append("--")
    except NoSuchElementException:
        ratings.append("--")
    try:
        rating=amazon.find_element_by_xpath("//a[@class='a-popover-trigger a-declarative']//i/span")
        ratings.append(rating.get_attribute("innerHTML"))
    except StaleElementReferenceException:
        ratings.append("--")
    except NoSuchElementException:
        ratings.append("--")
    try:
        priz=amazon.find_element_by_xpath("//span[@class='a-size-medium a-color-price priceBlockBuyingPriceString']")
        price.append(priz.text) #even by url i cant get exact length
    except StaleElementReferenceException:
        price.append("--")
    except NoSuchElementException:
        price.append("--")

In [7]:
laptops=pd.DataFrame({
    "Brands":names,
    "Ratings":ratings,
    "Price":price
})
laptops

,Brands,Ratings,Price
0,HP 15 (2021) Thin & Light 11th Gen Core i3 Lap...,3.8 out of 5 stars,"₹ 42,499.00"
1,"HP 15 (2021) Thin & Light Ryzen 3-3250 Laptop,...",3.7 out of 5 stars,"₹ 35,695.00"
2,HP 15 Entry Level 15.6-inch (39.62 cms) HD Lap...,3.7 out of 5 stars,--
3,ASUS VivoBook 14 (2020) Intel Quad Core Pentiu...,3.6 out of 5 stars,"₹ 24,990.00"
4,HP 15 Intel Pentium Gold 6405U Processor Entry...,3.6 out of 5 stars,"₹ 26,611.00"
5,"HP 15 AMD Athlon 15.6"" (39.62cms) HD Laptop (S...",3.7 out of 5 stars,"₹ 26,999.00"
6,"AVITA Essential NE14A2INC433-MB 14"" (35.56cms)...",3.9 out of 5 stars,"₹ 19,800.00"
7,Lenovo IdeaPad Slim 3 Intel Celeron N4020 15.6...,4.0 out of 5 stars,--
8,"Dell Inspiron 3505 15.6"" (39.62 cms) FHD AG Di...",4.0 out of 5 stars,"₹ 34,190.00"
9,(Renewed) HP Elitebook Laptop 640G1 Intel Core...,--,"₹ 29,390.00"